<div class="instructions">
  <h2>Instructions</h2>
  <p>
    Template file:
    <code>problems/problem_{{ padded_number }}.html</code>
  </p>
  <p>
    Use the <code>cycle</code> filter to apply the
    <code>.grey</code> CSS class to every other
    list element starting with the second element.
  </p>
  <p><b>This is is the opposite of the last one!</b></p>
  <p>
    For example, the "Kim" item should have no
    class applied to it. Then, the "Paz" should
    have <code>class="grey"</code> on the list
    item tag.. Then, the "Talia" item should not.
    Then, the "Anima" item should.
  </p>
  <p>
    Do all of it from memory.
  </p>
</div>
