<div class="instructions">
  <h2>Instructions</h2>
  <p>
    Template file:
    <code>problems/problem_{{ padded_number }}.html</code>
  </p>
  <p>
    Now, only print the items in the ordered
    list if the length of the name is greater
    than 3.
  </p>
  <p>
    You should solve this problem with
    a Django <code>for</code> tag and
    a nested <code>if</code> tag. You will
    want to use the <code>length</code>
    filter as part of the condition.
  </p>
  <p>
    Open <code>view.html</code>
    and follow the instructions in there.
  </p>
  <p>
    After you make and save your changes
    to the file, refresh this page to see
    if the tests pass.
  </p>
</div>
