<div class="instructions">
  <h2>Instructions</h2>
  <p>
    Template file:
    <code>problems/problem_{{ padded_number }}.html</code>
  </p>
  <p>
    Use the <code>cycle</code> filter to apply the
    <code>.grey</code> CSS class to every other
    list element starting with the first element.
  </p>
  <p>
    For example, the "Kim" item should have
    <code>class="grey"</code> on the list item tag.
    Then, the "Paz" item should not. Then, the
    "Talia" item should. Then, the "Anima" item
    should not.
  </p>
  <p>
    Do all of it from memory.
  </p>
</div>
