<div class="instructions">
  <h2>Instructions</h2>
  <p>
    Template directory:
    <code>problems/problem_{{ padded_number }}/</code>
  </p>
  <p>
    This changes it up to use an
    <b>ordered list</b>.
  </p>
  <p>
    You should solve this problem with
    a Django <code>for</code> tag.
  </p>
  <p>
    Open <code>view.html</code>
    and follow the instructions in there.
  </p>
  <p>
    After you make and save your changes
    to the file, refresh this page to see
    if the tests pass.
  </p>
</div>
